<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <!-- Main Menu -->
    <menuitem
        id="menu_transit_root"
        name="TransitOps"
        sequence="1"/>

    <!-- Sub Menus -->
    <menuitem
        id="menu_vehicle"
        name="Vehicles"
        parent="menu_transit_root"
        sequence="1"/>

    <menuitem
        id="menu_driver"
        name="Drivers"
        parent="menu_transit_root"
        sequence="2"/>

    <menuitem
        id="menu_trip"
        name="Trips"
        parent="menu_transit_root"
        sequence="3"/>

    <menuitem
        id="menu_maintenance"
        name="Maintenance"
        parent="menu_transit_root"
        sequence="4"/>

    <menuitem
        id="menu_fuel"
        name="Fuel Logs"
        parent="menu_transit_root"
        sequence="5"/>

</odoo>